body {
    margin: 2em 3em;
    font-family: Helvetica, Trebuchet, sans-serif;
}

p {
    max-width: 40em;
}

h2 {
    margin: 0;
    padding: 1em 0 0 15px;
    font-size: 12px;
    font-family: Helvetica, Trebuchet, sans-serif;
}

.contribute img {
    position: fixed;
    top: 0;
    right: 0;
    border: 0;
    z-index: 9999;
}

.ppp {
    float: right;
    font-size: 18px;
}
#features {
    clear: both;
    float: right;
    text-align: right;
}

#vis {
    padding: 15px;
}

#vis svg {
    border: 1px solid #999;
}

#vis .axis path {
    fill: none;
    stroke: #ccc;
    stroke-width: 1;
}

#vis text,
.d3-tip {
    font-size: 12px;
    font-family: Helvetica, Trebuchet, sans-serif;
}

#vis .axis text {
    font-family: monospace;
    font-size: 10px;
}

.circles circle {
    fill: steelblue;
    opacity: 0.7;
}
.circles .selected,
.circles .selected-brush {
    fill: red;
}

.bins rect {
    fill: steelblue;
}
.bins .selected {
    fill: red;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.bars rect {
    fill: steelblue;
}
.bars .selected {
    fill: red;
}

.poly path {
    fill: steelblue;
    stroke: none;
    shape-rendering: crispEdges;
}
